In [ ]:
def sum_list(list):
  sum = 0
  for number in list:
    sum += number
  return sum

In [ ]:
def is_present(roll_number, attendance_list):
  if roll_number in attendance_list:
    return "Present"
  else:
    return "Absent"

In [ ]:
class Student:
  def __init__(self, name, roll_number):
    self.name = name
    self.roll_number = roll_number

student = Student("Ali", 123)

print(student.name)
print(student.roll_number)

student.name = "Ammara"
student.roll_number = 456

print(student.name)
print(student.roll_number)

Ali
123
Ammara
456

In [ ]:
class Student:
  def __init__(self, name, roll_number):
    self.name = name
    self.roll_number = roll_number

student1 = Student("Ali", 123)
student2 = Student("Ammara", 456)

print(student1.name)
print(student1.roll_number)

print(student2.name)
print(student2.roll_number)

Ali
123
Ammara
456

In [ ]:
class Student:
  def __init__(self, name, age, grades):
    self.name = name
    self.age = age
    self.grades = grades

  def average_grade(self):
    if not self.grades:
      return 0
    else:
      return sum(self.grades) / len(self.grades)

# Example usage
student = Student("Ali", 16, [85, 90, 78])
average = student.average_grade()
print(average)